<footer>
	<div class="container_12">
		<div class="grid_12">
			<div class="f_phone">
				<span>Call Us:</span> +91 9315917780
			</div>
			<div class="socials">
				<a href="#" class="fa fa-twitter"></a> 
				<a href="#" class="fa fa-facebook"></a> 
				<a href="#" class="fa fa-google-plus"></a>
				<a href="#" class="fa fa-linkedin"></a> 
				<a href="#" class="fa fa-github"></a>
				
			</div>
			<div class="copy">
				<div class="st1">
					<div class="brand">
						Tour<span class="color1">T</span>axi
					</div>
					&copy; <span th:text="${#calendars.year(#calendars.createNow())}">2026</span>
					| <a href="#">Privacy Policy</a>
				</div>
			</div>
		</div>
		<div class="clear"></div>
	</div>
</footer>